alembic==1.13.2
aniso8601==9.0.1
asn1crypto==1.5.1
beautifulsoup4==4.12.3
blinker==1.8.2
Brlapi==0.8.5
cachetools==5.4.0
catfish==4.16.4
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.5
cssselect==1.2.0
cupshelpers==1.0
dbus-python==1.3.2
decorator==4.4.2
distro==1.9.0
docker==4.3.1
dockerpty==0.4.1
docopt==0.6.2
evdev==1.7.1
FigmaPy==2018.1.0
Flask==3.0.3
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
future==1.0.0
gitdb==4.0.11
GitPython==3.1.7
google-auth==2.32.0
greenlet==3.0.3
gulp==0.1.0
html5lib==1.1
huepy==1.2.1
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
iniconfig==2.0.0
instabot==0.117.0
itsdangerous==2.2.0
Jinja2==3.1.4
kali-tweaks==2023.3.2
kubernetes==11.0.0
lightdm-gtk-greeter-settings==1.2.3
louis==3.30.0
lxml==5.1.0
Mako==1.3.5
MarkupSafe==2.1.5
mechanize==0.4.10
meson==1.5.1
mock==5.1.0
moviepy==1.0.3
netifaces==0.11.0
node==1.2.2
npm==0.1.1
numpy==2.0.1
oauthlib==3.2.2
odict==1.9.0
onboard==1.4.1
optional-django==0.1.0
packaging==24.0
pexpect==4.9.0
pillow==10.4.0
pluggy==1.5.0
plumber==1.7
popper==2020.9.1
proglog==0.1.10
ptyprocess==0.7.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.26.0
pycups==2.0.4
Pygments==2.18.0
PyGObject==3.48.2
pykwalify==1.7.0
pynput==1.7.7
pysmbc==1.0.25.1
PySocks==1.7.1
pytest==8.3.2
python-apt==2.9.0
python-box==5.1.1
python-dateutil==2.9.0.post0
python-xlib==0.33
pytz==2024.1
pyxdg==0.28
PyYAML==5.3.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.25.3
rsa==4.9
schedule==1.2.2
semver==3.0.2
six==1.16.0
smmap==5.0.1
soupsieve==2.5
spython==0.0.79
SQLAlchemy==2.0.31
tk==0.1.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.0.7
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
xdg==5
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==6.0
zope.interface==6.4.post2
zope.lifecycleevent==5.0
zope.proxy==5.2
